<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/cliente.css">
    <title>Carrito de compras</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <h2>Tu carrito (2)</h2>
            <div class="product">
                <img src="/assets/img/telefono.jpeg"
                    alt="Samsung Galaxy Z Fold6">
                <div class="product-info">
                    <h3>Samsung Galaxy Z Fold6, 12+256GB, Dual SIM, Liberado (Azul)</h3>
                    <p>Marca: <a href="#">Samsung</a></p>
                </div>
                <div class="quantity">
                    <input type="number" value="1" min="1">
                    <button>Eliminar</button>
                </div>
                <div class="price">Q15,999.00</div>
            </div>
            <div class="product">
                <img src="/assets/img/telefono.jpeg"
                    alt="Sony WH-1000XM4">
                <div class="product-info">
                    <h3>Samsung Galaxy Z Fold6, 12+256GB, Dual SIM, Liberado (Azul)</h3>
                    <p>Marca: <a href="#">Sony</a></p>
                </div>
                <div class="quantity"> <input type="number" value="1" min="1"> <button>Eliminar</button> </div>
                <div class="price">Q15,999.00</div>
            </div>
            <div class="product">
                <img src="/assets/img/telefono.jpeg"
                    alt="Sony WH-1000XM4">
                <div class="product-info">
                    <h3>Samsung Galaxy Z Fold6, 12+256GB, Dual SIM, Liberado (Azul)</h3>
                    <p>Marca: <a href="#">Sony</a></p>
                </div>
                <div class="quantity"> <input type="number" value="1" min="1"> <button>Eliminar</button> </div>
                <div class="price">Q15,999.00</div>
            </div>
            <div class="summary">
                <h2>Resumen de compra</h2>
                <ul>
                    <li>Subtotal (2 productos): <span>Q18,998.00</span></li>
                    <li>Total*: <span>Q18,998.00</span></li>
                    <li>*El envío puede tener un costo adicional según tu ubicación y el total de la compra.</li>
                </ul>
            </div> <button class="button">Ir a pagar</button>
        </div>

    </div>
</body>

</html>